@import url('http://fonts.cdnfonts.com/css/inter');
:root {
    --dark-gray: #131618;
    --normal-gray: #282a35;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(https://forums.comunidades.riotgames.com/t5/image/serverpage/image-id/4519i33D4EDDD364A28F8?v=v2);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(50%);
    font-family: 'Inter', sans-serif;
    color: #E2E4E9;
}

a {
    text-decoration: none;
    display: inline;
}

header {
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
}

header .header-icons-container {
    width: 100%;
    height: 3rem;
    background-color: var(--normal-gray);
    display: flex;
    justify-content: flex-end;
}

header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
}

header .icons span {
    color: #E2E4E9;
}
.nav-container {
    background-color: var(--dark-gray);
    width: 100%;
    height: auto;
    border-radius: 0 0 20px 20px;
    box-shadow: 0rem 1rem 3rem var(--dark-gray);
}
nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 3rem;
}

nav .nav-logo-container img{
    height: 4rem;
}

nav .profile-link a {
    border-bottom: 1px solid #E2E4E9;
    color: #E2E4E9;
    font-weight: bold;
}
.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    height: 25rem;
    justify-content: space-around;
}
.main-content .main-title {
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--dark-gray);
    padding: 1rem 2rem;
    border-radius: 12px;
    box-shadow: 0rem 1rem 2rem var(--normal-gray);
}
.main-content .main-button {
    font-size: 1rem;
    font-weight: bold;
    background: none;
    background-color: var(--dark-gray);
    padding: 1rem 3rem;
    border-radius: 12px;
    border: none;
    border-top: 2px solid var(--normal-gray);
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    outline: inherit;
    transition: all 0.5s ease-out;
}
.main-content .main-button:hover {
    background-color: #272A30;
    border-top: 2px solid #2F3238;
}